.header {
  background-color: $accent-color;
  color: $text-color;
  padding: 0.5rem;
}

.logoContainer {
  display: flex;
  width: 4rem;
}

.logo {
  border-radius: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}