.field {
  display: block;
  padding: 0.125rem;
  margin-left: 0.25rem;
}

.label {
  span {
    font-weight: bold;
  }
}

.selector {
  width: 100%;
  max-width: 10rem;
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;

}

.submitButton {
  margin-top: 0.5rem;
}