.card {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: $card-background; // Light cream for cards and sections
  padding: 1.5rem;
  border-radius: 8px;

}