.zooEntrance {
  background-image: linear-gradient(rgba(18, 3, 42, 0.6), rgba(18, 3, 42, 0.6)), url('/assets/zooEntrance.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  min-height: 35rem;
}